*{
	margin: 0;
	padding: 0;
	font-family: 'Open-sans', Arial, sans-serif;
}

body {

	font-family: "Open Sans", Tahoma, sans-serif
}
.container {
	width: 1140px;
	margin: 0 auto 0 auto;
}
header{
	background-color: #f6f6f6;
	height: 40px;
}
a {
	color: #3F3F3F;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
header .container {
	padding-top: 9px; 
}

header ul li {
	display:inline-block;
}
 
header ul li a{
	padding: 0px 10px;
	float: left;
	list-style-type: none;
}
button {
	font-family: 'Open-sans', Arial, sans-serif;
	cursor: pointer;
	text-transform: none;
	font: inherit;
	text-align: center;
	text-rendering: auto;
	letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
}
.header-city, .header-topmenu, .header-phone {
	float:left;
}
.clearfix{
	clear: both;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.header-main {
	height: 60px;
	background-color: rgb(49,213,118);
}
.logo-text {
	font-size: 21px; 
	font-weight: bold; 
	color: #fff; 
	line-height: 60px;
}
.header-main-search {
	float: none;
    width: 100%;
    display: table-cell;
    padding: 10px 20px;
    vertical-align: top;
}
.main-search-form_container{
	display: table;
    height: 40px;
    width: 100%;
}
.main-search-form_input {
	height: 40px;
    padding: 6px 12px;
    background: #fff;
    color: #555;
    border: none;
    outline: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
}
.main-search-form_botton-container {
	display: table-cell;
    z-index: 2;
    height: 40px;
    width: 1%;
    vertical-align: middle;
}
.main-search-form_button {
	border-radius: 0 4px 4px 0;
    box-shadow: none;
    position: relative;
    height: 40px;
    width: 60px;
    border: 1px solid #fff;
    background: #fff;
    outline: none;
    border-left: none;
    border-left: solid 1px #e6e6e6;
}

.main-search-form_button-icon {
	color: #9898a1;
    font-size: 16px;
}
.dns-icon_search .main-search-form_button-icon:before .main-search-form_button-icon .main-search-form_button:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    line-height: 1;
}
.header-main-cart {
	float: none;
    width: 100%;
    display: table-cell;
    padding: 10px 5px;
    vertical-align: top;
}
.header-main-cart: hower {
	background-color: yellow;
}
.cart_button {
	border-radius: 4px;
	width: 123px;
	border: none !important;
	border-left: none !important;
}
.double_button {
	background: transparent;
}
.main-search-form_button-icon_double {
	color: #fff;
    font-size: 16px;
}
.main-search-form_button-icon_cart {
	color: #000;
    font-size: 16px;
}